# Libraries
*.lib
*.a
*.la
*.lo
*.o

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
shell

# Lexing related
lemon
shellparser.c
shellparser.h
shellscanner.h

# macOS shit
.DS_Store

# ide files
.vscode
.idea
